<app-progress-loader/>
<app-toaster />
<!-- @if (status() === AuthStatus.UN_INITIALIZED) {
  <app-loading-screen message="App is not initialized, waiting for config"></app-loading-screen>
} @else if (status() === AuthStatus.CONFIG_LOADING) {
  <app-loading-screen message="Config is loading, please wait"></app-loading-screen>
} @else {
  <router-outlet></router-outlet>
} -->
<router-outlet></router-outlet>

<!-- @else if (status() === AuthStatus.CONFIG_LOAD_ERROR) {
  <app-loading-screen [message]="loadingMessage()"></app-loading-screen>
} @else if (status() === AuthStatus.UNAUTHENTICATED) {
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-2xl font-bold">Unauthenticated</h1>
    <p class="text-sm text-gray-500">You are not authenticated</p>
  </div>
} @else if (status() === AuthStatus.INITIALIZING) {
  <app-loading-screen [message]="loadingMessage()"></app-loading-screen>
} @else if (status() === AuthStatus.HYDRATED_VALID_USER) {
  <app-loading-screen [message]="loadingMessage()"></app-loading-screen>
} @else if (status() === AuthStatus.HYDRATED_NO_USER) {
  <app-loading-screen [message]="loadingMessage()"></app-loading-screen>
} @else if (status() === AuthStatus.HYDRATED_EXPIRED_USER) {
  <app-loading-screen [message]="loadingMessage()"></app-loading-screen>
} @else if (status() === AuthStatus.HYDRATED_ERROR) {
  <app-loading-screen [message]="loadingMessage()"></app-loading-screen>
} -->
