<div class="relative">
  <!-- Icon inside input -->
   @if (!hideIcon()) {
    <ng-icon
      name="bootstrapChevronDown"
      class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 pointer-events-none"
      size="20"
    ></ng-icon>
  }

  <input
    #inputElement
    type="text"
    class="pr-10"
    style="width: 100%;"
    [value]="inputValue()"
    [disabled]="disabled()"
    [attr.placeholder]="placeholder()"
    (input)="onInputChange($event)"
    (focus)="onInputFocus($event)"
    (blur)="onInputBlur($event)"
    (keydown)="onKeyDown($event)"
    [ngClass]="inputClass()"
    autocomplete="off"
    role="combobox"
    aria-autocomplete="list"
    [attr.aria-expanded]="isOpen()"
    aria-haspopup="listbox"
    [attr.aria-controls]="'ac-listbox'"
  />

  @if (isOpen() && options().length) {
    <div
      #listbox
      id="ac-listbox"
      class="absolute z-10 w-full bg-white border rounded shadow mt-1 max-h-60 overflow-auto scroll-padded"
      role="listbox"
    >
      @for (item of options(); let i = $index; track i) {
        <div
          class="px-4 py-2 cursor-pointer hover:bg-primary/90 hover:text-white"
          [class.bg-primary]="i === focusedIndex()"
          [class.text-white]="i === focusedIndex()"
          role="option"
          [attr.aria-selected]="i === focusedIndex()"
          [attr.data-index]="i"
          (mousedown)="onOptionMouseDown(item, i, $event)"
        >
          {{ findOptionDisplay(item) }}
        </div>
      }
    </div>
  }
</div>
