@if (canAttach()) {
  <div class="document-picker">
    <input
      [id]="inputId"
      class="document-picker__input"
      type="file"
      multiple
      [disabled]="isDisabled()"
      (change)="onBrowse($event)"
    />

    @if (files().length) {
      <button
        type="button"
        class="document-picker__files"
        [disabled]="isDisabled()"
        (click)="browse()"
        aria-label="Add more documents"
      >
        @for (file of files(); track trackFile($index, file)) {
          <tng-tooltip
            class="document-chip-tooltip"
            side="top"
            [openDelay]="150"
            [ariaLabel]="fileDetails(file)"
          >
            <tng-tag
              trigger
              class="document-chip"
              appearance="soft"
              tone="neutral"
              size="sm"
              [label]="file.name"
            >
              <tng-icon icon="paperclip" aria-hidden="true" />
              <span class="document-chip__name">{{ file.name }}</span>
              <span class="document-chip__size">{{ formatFileSize(file.size) }}</span>
              <button
                type="button"
                class="document-chip__remove"
                [disabled]="isDisabled()"
                (click)="removeFile(file, $event)"
                [attr.aria-label]="'Remove ' + file.name"
              >
                <tng-icon icon="x" aria-hidden="true" />
              </button>
            </tng-tag>

            <div class="document-chip-tooltip__content">
              <strong>{{ file.name }}</strong>
              <span>{{ formatFileSize(file.size) }}</span>
              <span>{{ file.type || 'Unknown type' }}</span>
            </div>
          </tng-tooltip>
        }
      </button>
    } @else {
      <tng-button
        type="button"
        appearance="outline"
        tone="neutral"
        [disabled]="isDisabled()"
        (click)="browse()"
      >
        @if (uploading()) {
          <tng-icon icon="loaderCircle" aria-hidden="true" class="spin" />
        } @else {
          <tng-icon icon="paperclip" aria-hidden="true" />
        }
        Attach Documents
      </tng-button>
    }
  </div>
}
