<tng-button
  type="button"
  appearance="solid"
  tone="primary"
  [disabled]="disabled()"
  (click)="clicked.emit()"
>
  <span class="burl-edit-button-content">
    @if (disabled()) {
      <tng-progress-spinner
        class="burl-edit-button-spinner"
        [indeterminate]="true"
        [size]="16"
        [strokeWidth]="2"
        ariaLabel="Saving"
      />
    }
    <span
      class="burl-edit-button-label"
      [class.burl-edit-button-label--concealed]="disabled()"
      [attr.aria-hidden]="disabled()"
    >
      <tng-icon icon="pencil" aria-hidden="true" />
      {{ label() }}
    </span>
  </span>
</tng-button>
