<app-gst-reconciliation-return-panel
  [meta]="meta"
  [months]="months()"
  [canImport]="canImport()"
  [canDownload]="canDownload()"
  [contextAvailable]="contextAvailable()"
  [isBusy]="store.isBusy()"
  [isUploading]="store.isUploading()"
  [isParsing]="isParsing()"
  [refreshingCellKey]="refreshingCell()"
  [downloadingCellKeys]="downloadingCells()"
  [currencyCode]="currencyCode()"
  (importRequested)="requestImport($event)"
  (monthOpened)="openMonth($event)"
  (refreshRequested)="refreshMonth($event)"
  (downloadRequested)="downloadMonth($event)"
/>
