<div class="min-h-full bg-background">
  <!-- Header Section -->
  <app-item-landing-header
    [title]="title()"
    [error]="error()"
    [createButtonText]="createButtonText()"
    [onCreateItem]="onCreateItem()"
    [button2Caption]="button2Caption()"
    [onButton2Click]="onButton2Click()"
  ></app-item-landing-header>
  <!-- Table Section -->
  <app-item-landing-table
    [items]="items()"
    [columns]="columns()"
    [onEditItem]="onEditItem()"
    [onDeleteItem]="onDeleteItem()"
    [emptyListMessage]="emptyListMessage()"
    [onRetry]="onRetry()"
    [onCreateItem]="onCreateItem()"
  ></app-item-landing-table>
  <app-item-landing-paginator
    [count]="count()"
    [pageSize]="pageSize()"
    [currentPage]="currentPage()"
  ></app-item-landing-paginator>
</div>
