<div class="h-screen w-screen bg-primary text-on-primary flex flex-col items-center justify-center px-4 text-center">

    <!-- Logo + Tagline -->
    <app-logo-block class="mb-8"></app-logo-block>
      
  
    <!-- 404 Section -->
    <div>
        <h2 class="text-3xl sm:text-4xl font-bold mb-2 text-warning">
            404 - Page Not Found
          </h2>
          <p class="text-base sm:text-lg text-on-primary/70 max-w-md mx-auto">
            Sorry, the page you’re looking for doesn’t exist or has been moved.
          </p>
          
  
      <a
  routerLink="/"
  class="mt-6 inline-block px-6 py-2 rounded bg-on-primary text-primary hover:bg-on-primary/90 transition duration-200 font-semibold"
>
  Go to Homepage
</a>

    </div>
  
  </div>
  