<div class="space-y-3" [formGroup]="group()">
  @if (!readonly()) {
    <!-- Editable Form -->
    <div class="flex items-center gap-2 mb-2">
      <label class="{{ labelWidth() }} text-sm text-gray-700">Name:</label>
      <input formControlName="name" type="text" appTextInput />
    </div>

    <div class="flex items-center gap-2 mb-2">
      <label class="{{ labelWidth() }} text-sm text-gray-700">Line 1:</label>
      <input formControlName="line1" type="text" appTextInput />
    </div>

    <div class="flex items-center gap-2 mb-2">
      <label class="{{ labelWidth() }} text-sm text-gray-700">Line 2:</label>
      <input formControlName="line2" type="text" appTextInput />
    </div>

    <div class="flex items-center gap-2 mb-2">
      <label class="{{ labelWidth() }} text-sm text-gray-700">Street:</label>
      <input formControlName="street" type="text" appTextInput />
    </div>

    <div class="flex items-center gap-2 mb-2">
      <label class="{{ labelWidth() }} text-sm text-gray-700">City:</label>
      <input formControlName="city" type="text" appTextInput />
    </div>

    <div class="flex items-center gap-2 mb-2">
      <label class="{{ labelWidth() }} text-sm text-gray-700">State:</label>
      <input formControlName="state" type="text" appTextInput />
    </div>

    <div class="flex items-center gap-2 mb-2">
      <label class="{{ labelWidth() }} text-sm text-gray-700">ZIP:</label>
      <input formControlName="zip" type="text" appTextInput />
    </div>

    <div class="flex items-center gap-2 mb-2">
      <label class="{{ labelWidth() }} text-sm text-gray-700">Country:</label>
      <input formControlName="country" type="text" appTextInput />
    </div>

    <div class="flex items-center gap-2 mb-2">
      <label class="{{ labelWidth() }} text-sm text-gray-700">Mobile:</label>
      <input formControlName="mobile" type="tel" appTextInput />
    </div>

    <div class="flex items-center gap-2 mb-2">
      <label class="{{ labelWidth() }} text-sm text-gray-700">Email:</label>
      <input formControlName="email" type="email" appTextInput />
    </div>
  }
  @else {
  <div class="mt-3 text-sm text-gray-800 leading-relaxed">
    @if (address()['name']) { <span class="font-semibold">{{ address()['name'] }}</span><br /> }
    @if (address()['line1'] || address()['line2']) {
      {{ address()['line1'] }}{{ address()['line1'] && address()['line2'] ? ', ' : '' }}{{ address()['line2'] }}<br />
    }
    @if (address()['street'] || address()['city']) {
      {{ address()['street'] }}{{ address()['street'] && address()['city'] ? ', ' : '' }}{{ address()['city'] }}<br />
    }
    @if (address()['state'] || address()['zip']) {
      {{ address()['state'] }}{{ address()['state'] && address()['zip'] ? ' - ' : '' }}{{ address()['zip'] }}<br />
    }
    @if (address()['country']) { {{ address()['country'] }}<br /> }
    @if (address()['mobile'])  { Mobile: {{ address()['mobile'] }} }
  </div>
  }
  
</div>
