@import './fonts.css';
@import "tailwindcss";
@import './tailwind-config.css';

:root {
    --background-color: #FFFFFF;
    --alternate-background-color: #f8f9fa;
    --text-color: #1A1A1A;
  
    --primary-color: #12284b;
    --primary-color-hover: #3f5b86;
    --on-primary-color: #FDF6EC;
  
    --danger-color: #DC3545;
    --danger-color-hover: #b72d3a;
    --on-danger-color: #FFFFFF;
  
    --warning-color: #FFC107;
    --warning-color-hover: #e0a800;
    --on-warning-color: #1A1A1A;
  
    --success-color: #28A745;
    --success-color-hover: #208638;
    --on-success-color: #FFFFFF;
  
    --info-color: #17A2B8;
    --info-color-hover: #117686;
    --on-info-color: #FFFFFF;
  
    --border-color: #E0E0E0;
    --border-color-hover: #B0B0B0;
  
    --breakpoint-mobile: 600px;
  
    --disable-color: #6c757d;
  }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}