@import '@tailng-ui/theme';
@import './fonts.css';

html,
body {
  min-height: 100%;
  margin: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', sans-serif;
}
