<h1 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
  Create New Sale Invoice
</h1>
<div id="row-1" class="flex gap-4 items-start">
  <div id="customer-details" class="flex-1">
    <div class="flex items-center justify-between mb-4 gap-4">
      <app-auto-complete [formControl]="form.controls.customer" [options]="customers()" class="flex-1"
        placeholder="Search for a customer" [required]="true"
        inputClass="flex-1 border-0 border-b bg-transparent text-sm leading-tight pt-0.5 pb-1 px-0 placeholder-gray-400 focus:outline-none focus:border-b-primary border-b-gray-300"
        [optionDisplayValue]="findCustomerDisplayValue" [inputDisplayValue]="findCustomerDisplayValue"
        (onSearch)="onCustomerSearch($event)" (onOptionSelected)="onCustomerSelected($event)">
      </app-auto-complete>
      <button type="button"
        class="flex items-center px-3 py-1.5 text-sm font-medium bg-primary text-white rounded hover:bg-primary-hover cursor-pointer"
        (click)="onNewCustomer()">
        <ng-icon name="bootstrapPlus" class="w-4 h-4 mr-1" size="24"></ng-icon>
        New Customer
      </button>
    </div>
    @if (form.controls.customer.value) {
    <div id="address-row" class="flex gap-4 items-start">
      <div class="w-1/2 p-4 border border-gray-200 rounded">
        <div class="flex items-center justify-between mb-3">
          <h3 class="font-semibold text-sm mb-3 flex items-center gap-1">
            Billing Address
            @if (form.controls.billingaddressreadonly.value) {
            <ng-icon name="bootstrapPencil" class="w-4 h-4 cursor-pointer" (click)="onEditBillingAddress()"></ng-icon>
            } @else {
            <ng-icon name="bootstrapCheckLg" class="w-4 h-4 cursor-pointer" size="16"
              (click)="onEditBillingAddress()"></ng-icon>
            }
          </h3>
        </div>
        <dbc-address-form [group]="form.controls.billingaddress"
          [readonly]="form.controls.billingaddressreadonly.value">
        </dbc-address-form>
      </div>
      <div class="w-1/2 p-4 border border-gray-200 rounded">
        <div class="flex items-center justify-between mb-3">
          <h3 class="font-semibold text-sm mb-3 flex items-center gap-1">
            Shipping Address
            @if (form.controls.shippingaddressreadonly.value) {
            <ng-icon name="bootstrapPencil" class="w-4 h-4 cursor-pointer" (click)="onEditShippingAddress()"></ng-icon>
            } @else {
            <ng-icon name="bootstrapCheckLg" class="w-4 h-4 cursor-pointer" size="16"
              (click)="onEditShippingAddress()"></ng-icon>
            }
          </h3>
          <label class="flex items-center gap-2 text-xs text-gray-600"> Same as Billing
            <dbc-switch [formControl]="form.controls.useBillingForShipping"> </dbc-switch>
          </label>
        </div>
        <dbc-address-form [group]="form.controls.shippingaddress"
          [readonly]="form.controls.shippingaddressreadonly.value">
        </dbc-address-form>
      </div>
    </div>
    } @else {
    <div class="p-4">
      <div class="flex items-center justify-between mb-3">
        <h3 class="font-semibold text-xl text-sm mb-3 flex items-center gap-1">
          Please select a customer or create a new one
        </h3>
      </div>
    </div>
    }
  </div>

  <div class="flex-1 bg-white p-4 border border-gray-200 rounded flex gap-4">
    <div class="flex-1 bg-alternate-background p-2">
      <div class="flex items-center justify-between mb-3">
        <h2 class="font-semibold text-base mb-4">Invoice Details</h2>
        <label class="flex items-center gap-2 text-xs text-gray-600"> Auto Numbering
          <dbc-switch [formControl]="form.controls.autoNumbering"> </dbc-switch> </label>
      </div>
      <div class="space-y-3">
        <div class="flex items-center gap-2 mb-2">
          <label class="w-28 text-sm text-gray-700">Number:</label>
          <input [formControl]="form.controls.number" type="text" appTextInput />
        </div>
        <div class="flex items-center gap-2 mb-2">
          <label class="w-28 text-sm text-gray-700">Date:</label>
          <input [formControl]="form.controls.date" type="date" appTextInput />
        </div>
        <div class="flex items-center gap-2 mb-2">
          <label class="w-28 text-sm text-gray-700">Due Date:</label>
          <input [formControl]="form.controls.duedate" type="date" appTextInput />
        </div>
        <div class="flex items-center gap-2 mb-2">
          <label class="w-28 text-sm text-gray-700">Currency:</label>
          <app-auto-complete [formControl]="form.controls.currency" [options]="currencies()"
            placeholder="Search for a currency" [required]="true" class="flex-1"
            inputClass="flex-1 border-0 border-b bg-transparent text-sm leading-tight pt-0.5 pb-1 px-0 placeholder-gray-400 focus:outline-none focus:border-b-primary border-b-gray-300"
            [optionDisplayValue]="findCurrencyDisplayValue" [inputDisplayValue]="findCurrencyDisplayValue"
            (onSearch)="onCurrencySearch($event)" (onOptionSelected)="onCurrencySelected($event)">
          </app-auto-complete>
        </div>
        <div class="flex items-center gap-2 mb-2">
          <label class="w-28 text-sm text-gray-700">Delivery State:</label>
          <input [formControl]="form.controls.deliveryState" type="text" appTextInput />
        </div>
      </div>
    </div>

    <div class="flex-1 bg-alternate-background p-2">
      <div class="flex items-center justify-between mb-3">
        <h2 class="font-semibold text-base mb-4">&nbsp;</h2>

      </div>
      <div class="space-y-3">
        <div class="flex items-center gap-2 mb-2">
          <label class="w-28 text-sm text-gray-700">Tax Option:</label>
          <app-auto-complete [formControl]="form.controls.taxOption" [options]="taxOptions()"
            placeholder="Search for a tax option" [required]="true" class="flex-1"
            inputClass="flex-1 border-0 border-b bg-transparent text-sm leading-tight pt-0.5 pb-1 px-0 placeholder-gray-400 focus:outline-none focus:border-b-primary border-b-gray-300"
            [optionDisplayValue]="findTaxOptionDisplayValue" [inputDisplayValue]="findTaxOptionDisplayValue"
            (onSearch)="onTaxOptionSearch($event)" (onOptionSelected)="onTaxOptionSelected($event)">
          </app-auto-complete>
        </div>
        <div class="flex items-center gap-2 mb-2">
          <label class="w-28 text-sm text-gray-700">Description:</label>
          <dbc-switch [formControl]="form.controls.showDescription"> </dbc-switch>
        </div>
        <div class="flex items-center gap-2 mb-2">
          <label class="w-28 text-sm text-gray-700">Discount:</label>
          <dbc-switch [formControl]="form.controls.showDiscount"> </dbc-switch>
        </div>
        <div class="flex items-center gap-2 mb-2">
          <label class="w-28 text-sm text-gray-700">Journal:</label>
          <input [formControl]="form.controls.journal" type="text" appTextInput />
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Item details -->

<div class="p-4 border border-gray-200 rounded mt-4">
  <div class="grid grid-cols-23 text-xs font-semibold text-gray-700 bg-gray-50 border-b border-gray-200">
    <div class="col-span-8 flex items-center justify-center border-r border-gray-200 py-2">Name</div>
    <div class="col-span-2 border-r border-gray-200 text-center py-2">
      <div>Price</div>
      <div class="mt-1 border-t border-gray-200 pt-1">HSN Code</div>
    </div>
    <div class="col-span-2 border-r border-gray-200 text-center py-2">
      <div>Quantity</div>
      <div class="mt-1 border-t border-gray-200 pt-1">Item Total</div>
    </div>

    <!-- Discount -->
    <div class="col-span-2 border-r border-gray-200 grid grid-cols-4">
      <div class="flex items-center justify-center col-span-1">
        <span class="writing-vertical rotate-270">Discount</span>
      </div>
      <div class="text-center py-2 col-span-3">
        <div>%</div>
        <div class="mt-1 border-t border-gray-200 pt-1">Amount</div>
      </div>
    </div>

    <!-- Taxable -->
    <div class="col-span-2 flex items-center justify-center border-r border-gray-200 py-2">Taxable Amount</div>

    <!-- SGST -->
    <div class="col-span-2 border-r border-gray-200 grid grid-cols-4">
      <div class="flex items-center justify-center col-span-1">
        <span class="writing-vertical rotate-270">SGST</span>
      </div>
      <div class="text-center py-2 col-span-3">
        <div>%</div>
        <div class="mt-1 border-t border-gray-200 pt-1">Amount</div>
      </div>
    </div>

    <!-- CGST -->
    <div class="col-span-2 border-r border-gray-200 grid grid-cols-4">
      <div class="flex items-center justify-center col-span-1">
        <span class="writing-vertical rotate-270">CGST</span>
      </div>
      <div class="text-center py-2 col-span-3">
        <div>%</div>
        <div class="mt-1 border-t border-gray-200 pt-1">Amount</div>
      </div>
    </div>

    <!-- Grand Total -->
    <div class="col-span-2 flex items-center justify-center py-2">Grand Total</div>
    <div class="col-span-1 flex items-center justify-center py-2">Action</div>
  </div>
  @for (g of form.controls.items.controls; track i; let i = $index) {
    <div class="grid grid-cols-23 text-xs font-medium text-gray-500 border-b border-gray-400">
      <app-auto-complete [formControl]="g.controls.item" [options]="items()" class="flex-1 col-span-8"
        placeholder="Search for an item" [required]="true"
        inputClass="flex-1 h-16 border-0 border-b bg-transparent text-sm leading-tight pt-0.5 pb-1 px-0 placeholder-gray-400 focus:outline-none focus:border-b-primary border-b-gray-300"
        [optionDisplayValue]="findItemDisplayValue" [inputDisplayValue]="findItemDisplayValue"
        (onSearch)="onItemSearch($event)" (onOptionSelected)="onItemSelected(i)($event)">
      </app-auto-complete>
      
      <div class="col-span-2 border-r border-gray-200 text-center py-2 h-16">
        <input
              class="border-r border-gray-200 h-7 w-full"
              type="text"
              appTextInput
              [formControl]="g.controls.price"/>
        <input
              class="border-r border-gray-200 h-7 w-full"
              type="text"
              appTextInput
              [formControl]="g.controls.code"/>
      </div>
      <div class="col-span-2 border-r border-gray-200 text-center py-2 h-16">
        <input
              class="border-r border-gray-200 h-7 w-full"
              type="text"
              appTextInput
              [formControl]="g.controls.quantity"/>
        <input
              class="border-r border-gray-200 h-7 w-full"
              type="text"
              appTextInput
              [formControl]="g.controls.itemtotal"/>
      </div>
      <div class="col-span-2 border-r border-gray-200 text-center py-2 h-16">
        <input
              class="border-r border-gray-200 h-7 w-full"
              type="text"
              appTextInput
              [formControl]="g.controls.discpercent"/>
        <input
              class="border-r border-gray-200 h-7 w-full"
              type="text"
              appTextInput
              [formControl]="g.controls.discamount"/>
      </div>
      <input
              class="col-span-2 border-r border-l border-gray-200 h-16"
              type="text"
              appTextInput
              [formControl]="g.controls.subtotal"/>
              @for (t of g.controls.taxes.controls; track t; let i = $index) {
                <div class="col-span-2 border-r border-gray-200 text-center py-2 h-16">
                  <input
                        class="border-r border-gray-200 h-7 w-full"
                        type="text"
                        appTextInput
                        [formControl]="t.controls.rate"/>
                  <input
                        class="border-r border-gray-200 h-7 w-full"
                        type="text"
                        appTextInput
                        [formControl]="t.controls.amount"/>
                </div>
              }
              <input
                      class="col-span-2 border-r border-l border-gray-200 h-16"
                      type="text"
                      appTextInput
                      [formControl]="g.controls.grandtotal"/>
            <div class="col-span-1 flex gap-2 items-center justify-center py-2 border-r border-b border-gray-200">
              <button
                          class="text-danger hover:text-danger-hover transition-colors duration-200 cursor-pointer"
                          title="Remove Item"
                          (click)="removeItemRow(i)"
                        >
                          <ng-icon name="bootstrapTrash" size="24"/>
                        </button>
              <button
                          class="text-primary hover:text-primary-hover transition-colors duration-200 cursor-pointer"
                          title="Add Item"
                          (click)="addItemRow()"
                        >
                          <ng-icon name="bootstrapBagPlus" size="24"/>
                        </button>
            </div>              
    </div>
  }
</div>
