@use '../styles/variables' as *;


.loading-overlay {
  position: fixed;
  inset: 0;
  background: $primary-color;
  color: $on-primary-color;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.branding-title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: $on-primary-color;
  margin-bottom: 1.2rem;
  animation: fadeInDown 1s ease;
}

.branding-caption {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: $on-primary-color;
  display: flex;
  justify-content: center;
  gap: 1px;

  span {
    display: inline-block;
    animation: wave 1.2s infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes wave {
  0%, 60%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
}

.sidenav-container {
  height: 100vh;
  background: $on-primary-color;
}

.sidenav {
  background: $primary-color;
  color: $on-primary-color;
}

.sidenav.expanded {
  width: 200px;
}

.sidenav.collapsed {
  width: 64px;
  mat-list-item {
    justify-content: center;
  }
}

.header {
  display: flex;
  align-items: center;
  background: $background-color;
  color: $primary-color;
  height: 64px;
  z-index: 2;
  border-bottom: 1px solid $border-color;
  padding-left: 0px;

  .flex-spacer {
    flex: 1 1 auto;
  }
  .profile {
    display: flex;
    align-items: center;
    cursor: pointer;
  
    .avatar-button {
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  
    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .mobile-menu-btn {
    display: none;
  }
}

// Main content styling
.main-content {
  padding: 1.5rem 2rem;
  min-height: calc(100vh - 64px);
  background: $background-color;
}

@media (max-width: 600px) {
  .sidenav {
    width: 0;
  }
  .header {
    .mobile-menu-btn {
      display: block;
    }
  }
}
