<mat-sidenav-container class="sidenav-container" *ngIf="isAuthenticated()">
  <!-- Sidebar -->
  <mat-sidenav *ngIf="isOpen" #drawerBig [mode]="drawerMode" class="sidenav expanded" fixedInViewport [opened]="isOpen">
    <app-side-bar-content [isOpen]="isOpen"></app-side-bar-content>
  </mat-sidenav>
  <mat-sidenav *ngIf="!isOpen" #drawerSmall mode="side" class="sidenav collapsed" fixedInViewport [opened]="!isOpen">
    <app-side-bar-content [isOpen]="isOpen"></app-side-bar-content>
  </mat-sidenav>

  <!-- Main content area -->
  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar class="header" color="primary">
      <!-- Sidebar toggle button -->
      <button mat-icon-button class="toggle-btn" (click)="toggleSidebar()" *ngIf="!isMobile">
        <mat-icon>{{ isOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <button mat-icon-button class="toggle-btn" (click)="openSidebar()" *ngIf="isMobile">
        <mat-icon>menu</mat-icon>
      </button>
      <svg *ngIf="isMobile" width="160" height="40" viewBox="0 0 190 42" xmlns="http://www.w3.org/2000/svg">
        <text x="95" y="25" font-family="Lobster" font-size="30" fill="#12284b"
        text-anchor="middle">Daybook.Cloud</text>
        <text x="115" y="38" font-family="Lobster" font-size="15" fill="grey" text-anchor="middle">Dive into
        Simplicity.</text>
      </svg>
      <span class="flex-spacer"></span>
      <div class="profile" *ngIf="user">
        <img [src]="user.picture" class="avatar" alt="Profile" [matMenuTriggerFor]="profileMenu"/>
      </div>
      <mat-menu #profileMenu="matMenu" class="daybook-menu-panel">
        <button mat-menu-item>
          <span>{{ user.name }}</span>
        </button>
        <button mat-menu-item class="daybook-menu-item">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()" class="daybook-menu-item">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="isInitialized() && !isAuthenticated()">
  <router-outlet></router-outlet>
</div>

<!-- Loading overlay as before -->
<div *ngIf="!isInitialized()" class="loading-overlay">
  <div class="loading-content">
    <div class="branding-title">Daybook.Cloud</div>
    <div class="branding-caption">
      <ng-container *ngFor="let letter of 'Dive into simplicity'.split(''); let i = index">
        <span [style.animation-delay.ms]="i * 80">{{ letter === ' ' ? '\u00A0' : letter }}</span>
      </ng-container>
    </div>
  </div>
</div>
