@use '../../../../styles/_variables.scss' as *;

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
  cursor: pointer;
  .logo {
    width: 38px;
    margin-right: 0.5rem;
  }
  .app-name {
    font-size: 1.3rem;
    font-weight: bold;
    color: $on-primary-color;
  }
}

.nav-item,
.parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 1rem;
  cursor: pointer;

  .nav-left {
    display: flex;
    align-items: center;
    gap: 8px;

    mat-icon {
      font-size: 24px;
    }

    span {
      font-size: 16px;
    }
  }

  .expand-icon {
    font-size: 20px;
  }
}

.submenu {
  padding-left: 1rem;

  .sub-nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 0 1rem;
    cursor: pointer;

    mat-icon {
      font-size: 20px;
    }

    span {
      font-size: 14px;
    }

    &:hover {
      background-color: $primary-color-hover;
    }
  }
}


.nav-item:hover {
  background-color: $primary-color-hover;
}

.expand-icon {
  margin-left: auto;
}
.fake-icon {
  visibility: hidden;
}