<div class="sidebar-header" routerLink="/" routerLinkActive="active">
  <svg *ngIf="isOpen" width="160" height="40" viewBox="0 0 190 42" xmlns="http://www.w3.org/2000/svg">
    <text x="95" y="25" font-family="Lobster" font-size="30" fill="#FFFFFF"
    text-anchor="middle">Daybook.Cloud</text>
    <text x="115" y="38" font-family="Lobster" font-size="15" fill="grey" text-anchor="middle">Dive into
    Simplicity.</text>
  </svg>
  <svg *ngIf="!isOpen" width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
    <text x="20" y="30" font-family="Lobster" font-size="25" fill="#FFFFFF" text-anchor="middle">D.C</text>
  </svg>
</div>

<mat-nav-list>
  <ng-container *ngFor="let menu of menuList">
    <!-- Parent with submenu -->
    <ng-container *ngIf="menu.children?.length; else singleLink">
      <div class="nav-item parent" *ngIf="isOpen" (click)="toggleSubmenu(menu.name)">
        <div class="nav-left">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.name }}</span>
          <mat-menu #menuRef="matMenu">
            <button mat-menu-item *ngFor="let child of menu.children">
              <mat-icon>{{ child.icon }}</mat-icon>
              <span>{{ child.name }}</span>
            </button>
          </mat-menu>
        </div>
        <mat-icon class="expand-icon">
          {{ isSubmenuOpen(menu.name) ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </div>
      <!-- Menu trigger: div or button -->
      <div class="nav-item parent"
        *ngIf="!isOpen"
        [matMenuTriggerFor]="menuRef"
        #trigger="matMenuTrigger"
        (click)="onParentMenuClick(trigger)"
        matTooltip="{{menu.name}}"
        matTooltipPosition="right"
        >
        <div class="nav-left">
          <mat-icon>{{ menu.icon }}</mat-icon>
        </div>
      </div>

      <!-- Menu definition: placed outside the trigger -->
      <mat-menu #menuRef="matMenu" class="daybook-menu-panel">
        <button mat-menu-item *ngFor="let child of menu.children" [routerLink]="menu.path + '/' + child.path" class="daybook-menu-item">
          <mat-icon>{{ child.icon }}</mat-icon>
          <span>{{ child.name }}</span>
        </button>
      </mat-menu>


      <!-- Submenus -->
      <div *ngIf="isSubmenuOpen(menu.name) && isOpen" class="submenu">
        <div *ngFor="let child of menu.children"
           mat-list-item
           (click)="onSubMenuClick()"
           [routerLink]="menu.path + '/' + child.path"
           routerLinkActive="active"
           class="sub-nav-item">
          <mat-icon>{{ child.icon }}</mat-icon>
          <span>{{ child.name }}</span>
        </div>
      </div>
    </ng-container>

    <!-- Single link (no submenu) -->
    <ng-template #singleLink>
      <a mat-list-item
         [routerLink]="menu.path"
         routerLinkActive="active"
         class="nav-item"
         *ngIf="isOpen"
         >
        <div class="nav-left">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.name }}</span>
        </div>
      </a>
      <a mat-list-item
         [routerLink]="menu.path"
         routerLinkActive="active"
         class="nav-item"
         matTooltip="{{menu.name}}"
         matTooltipPosition="right"
         *ngIf="!isOpen"
         >
        <div class="nav-left">
          <mat-icon>{{ menu.icon }}</mat-icon>
        </div>
      </a>
    </ng-template>
  </ng-container>
</mat-nav-list>