<h1 class="wordmark">Daybook.Cloud</h1>
<p class="subcaption" aria-label="Dive into Simplicity">
  <span class="char" style="--i: 0">D</span><span class="char" style="--i: 1">I</span
  ><span class="char" style="--i: 2">V</span><span class="char" style="--i: 3">E</span
  ><span class="space"> </span><span class="char" style="--i: 4">I</span
  ><span class="char" style="--i: 5">N</span><span class="char" style="--i: 6">T</span
  ><span class="char" style="--i: 7">O</span><span class="space"> </span
  ><span class="char" style="--i: 8">S</span><span class="char" style="--i: 9">I</span
  ><span class="char" style="--i: 10">M</span><span class="char" style="--i: 11">P</span
  ><span class="char" style="--i: 12">L</span><span class="char" style="--i: 13">I</span
  ><span class="char" style="--i: 14">C</span><span class="char" style="--i: 15">I</span
  ><span class="char" style="--i: 16">T</span><span class="char" style="--i: 17">Y</span>
</p>

